*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    color: #fff;
}
body {
    
    background-color: #000;
    padding: 25px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font: normal bold 3rem / 1.2
    "Poppins", "Helvetica", sans-serif;
    text-align: center;
     
}
 
.wrapper {
    width: 300px;
    margin: auto;
}
 
.cover {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 50vh;
    width: 100vw;
    border-radius: 5%;
 }
.header-text {
    position: absolute;
    top: 42vh;
    left: 25%;
    right: 5%;
    color:white;
    z-index: 1;
    font-size: 25px;
    
}
#menuBtnOne {
    height: 30px;
    width: 40px;
    position: fixed;
    top: 0;
    left: 328px; 
    right: 0;
    bottom: 0;
    font-size: 13px;
     
    background: purple;
    margin: 4px 0;
    z-index: 1;
    font-style: "Poppins", "Helvetica", sans-serif;
    cursor: pointer;

}
#menuBtnTwo {
    height: 30px;
    width: 40px;
    position: absolute;
    top: -1.8vh;
    left: 70%;
    font-size: 13px;
    display: inline block;
    background: purple;
    margin: 15px 0;
    z-index: 2;
    font-style: "Poppins", "Helvetica", sans-serif;
    cursor: pointer;
}
.container {
    margin-right: 100px;
    margin-left: 100px;

}
.text {
    position: absolute;
    top: 70%;
    left: 0%;
    right: 0%;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #00E260, #f79d00, #0575E6, #64f38c);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    background-size: 300%; 
    background-position: -100%;
    font-family: Cambria;
    animation: animatedText 5s  infinite alternate-reverse; 
}
P {
    font-size: 3.2rem;
}
 

@keyframes animatedText {
    100% {
        background-position: 100%;
    }
}

#sideNavBar {
    font-size: 22px;
    width: 140px;
    height: 100vh;
    position: fixed;
    left: 100.5vw;
    right: 0;
    top: 0;
    background: #f67c92;
    z-index: 2;
    cursor: pointer;
  
}
.slide {
    transform: translateX(100%);
    transition: 4s;
}
.slides {
    transform: translateX(-38vw);
    transition: 1s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;

}


/*----about----*/

#about {
    position: absolute;
    top: 100vh;
    right: 0%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

/*----features----*/

#features {
    position: absolute;
    top: 240vh;
    right: 0%;
    font-size: 1.5rem;

}

    /*----Networking----*/

    #networking {
        position: absolute;
        top: 350vh;
        left: 0vw;
        right: 0;
        font-size: 1.5rem;
    }


     /*----Webdevelopment----*/

     #webDevelopment {
        position: absolute;
        top: 440vh;
        left: 0;
        right: 0;
        font-size: 1.5rem;
    }

    /*----Contact Us----*/
    
    #contactUs {
        position: absolute;
        top: 520vh;
        left: 0;
        right:0vw;
        font-size: 2.3rem;
    }
    .text1 {
        position: absolute;
    top: 105vh;
    left: 0;
    right: 2vw;
    font-size: 3rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #00E260, #f79d00, #0575E6, #64f38c);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    background-size: 300%; 
    background-position: -100%;
    font-family: Cambria;
    animation: animatedText 5s  infinite alternate-reverse; 
    }
    .text2 {
        position: absolute;
        top: 230vh;
        left: 0vw;
        right: 0vw;
        font-size: 3rem;
        text-transform: uppercase;
        background-image: linear-gradient(to right, #00E260, #f79d00, #0575E6, #64f38c);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; 
        background-size: 300%; 
        background-position: -100%;
        font-family: Cambria;
        animation: animatedText 5s  infinite alternate-reverse;  
    }
    .text3 {
        position: absolute;
        top: 340vh;
        left: 0;
        right: 0;
        font-size: 3rem;
        text-transform: uppercase;
        background-image: linear-gradient(to right, #00E260, #f79d00, #0575E6, #64f38c);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; 
        background-size: 300%; 
        background-position: -100%;
        font-family: Cambria;
        animation: animatedText 5s  infinite alternate-reverse;  

    }
    .text4 {
        position: absolute;
        top: 420vh;
        left: 0;
        right: 20;
        font-size: 2.8rem;
        text-transform: uppercase;
        background-image: linear-gradient(to right, #00E260, #f79d00, #0575E6, #64f38c);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; 
        background-size: 300%; 
        background-position: -100%;
        font-family: Cambria;
        animation: animatedText 5s  infinite alternate-reverse;  

    }
    .text5 {
        position: absolute;
        top: 510vh;
        left: 0;
        right: 5vw;
        font-size: 3rem;
        text-transform: uppercase;
        background-image: linear-gradient(to right, #00E260, #f79d00, #0575E6, #64f38c);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; 
        background-size: 300%; 
        background-position: -100%;
        font-family: Cambria;
        animation: animatedText 5s  infinite alternate-reverse;  

    
    
    }
    .text6 {
        position: absolute;
        top: 530vh;
        left: 0;
        right: 0;
        font-size: 4rem;
        text-transform: uppercase;
        background-image: linear-gradient(to right, #00E260, #f79d00, #0575E6, #64f38c);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; 
        background-size: 300%; 
        background-position: -100%;
        font-family: Cambria;
        z-index: 2;
        animation: animatedText 5s  infinite alternate-reverse;  

    
    
    }

 

.about-left-col {
    flex-basis: 100%;
}

.about-left-col img {
    width: 100%;
    border-radius: 5%;

     
}

.about-right-col {
  flex-basis: 100%;  
}


/*All above is sized for 375 x 667 iphone 7 screen size*/

/*@media only screen and (min-width: 768px) {
    .wrapper {
        width: 768px;
        
    }
    .cover {
        height: 45vh;
        width: 74vw;
         
     }
        
        
    }
    .text {
        top: 46%;
        left: -27%;
        right: 0%;
        font-size: 2.8rem;
        font: normal bold 3.6rem / 1.2
        "Poppins", "Helvetica", sans-serif;
        font-family: cursive;
        text-align: center;
         
    }
    #menuBtnOne {
        height: 35px;
        width: 60px;
        right: 90vw;
        left: 65%;
        font-size: 20px;
         
    
    }
    #menuBtnTwo {
        height: 35px;
        width: 60px;
        left: 136px;
        font-size: 20px;
        
    }
    #sideNavBar {
        font-size: 30px;
        width: 200px;
        left: 85vw;
        z-index: 2;
        
    }
*/
 /*All in above section is sized for ipad mini*/
 
 
             
     
 
 @media only screen and (min-width: 1000px) {

    .wrapper {
        width: 1000px;
        
    }
    .cover {
        height: 60vh;
        width: 100vw;
        
    }
     .header-text {
        top: 55vh;
        font-size: 35px;
        
         
    }
      
    #menuBtnOne {
        height: 40px;
        width: 60px;
        left: 96vw;
        font-size: 20px;
         
    }

    #menuBtnTwo {
        height: 40px;
        width: 60px;
        left: 180px;
        font-size: 20px;
        top: -1.2vh;
    }
    #sideNavBar {
        font-size: 40px;
        width: 250px;
        position: fixed;
        left: 123vw;
        
    }
    #about {
        position: absolute;
        top: 100vh;
        left: 40vw;
        right: 0;
        padding: 100px 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 2.3rem;
        
    }
    .text {
        top: 60%;
        left: 0%;
        font: normal bold 6.6rem / 1.2
        "Poppins", "Helvetica", sans-serif;
        text-align: center;
        font-family: Cursive;
    }
    
    .text1 {
        position: absolute;
    top: 143vh;
    left: 0;
    right: 65vw;
    font-size: 5rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #00E260, #f79d00, #0575E6, #64f38c);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    background-size: 300%; 
    background-position: -100%;
    font-family: Cambria;
    animation: animatedText 5s  infinite alternate-reverse; 
    }

    /*----features----*/

    #features {
        position: absolute;
        top: 225vh;
        right: 40vw;
        left: 0;
        font-size: 2.3rem;
    
    }

    /*----Networking----*/

    #networking {
        position: absolute;
        top: 350vh;
        left: 40vw;
        right: 0;
        font-size: 2.3rem;
    }

    /*----Webdevelopment----*/

    #webDevelopment {
        position: absolute;
        top: 450vh;
        left: 0;
        right: 40vw;
        font-size: 2.3rem;
    }
     
    /*----Contact Us----*/
     
    #contactUs {
        position: absolute;
        top: 550vh;
        left: 0;
        right:0vw;
        font-size: 2.3rem;
    }
    .text2 {
        position: absolute;
        top: 255vh;
        left: 60vw;
        right: 0vw;
        font-size: 5rem;
        text-transform: uppercase;
        background-image: linear-gradient(to right, #00E260, #f79d00, #0575E6, #64f38c);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; 
        background-size: 300%; 
        background-position: -100%;
        font-family: Cambria;
        animation: animatedText 5s  infinite alternate-reverse;  
    }
    .text3 {
        position: absolute;
        top: 383vh;
        left: 0;
        right: 60vw;
        font-size: 5rem;
        text-transform: uppercase;
        background-image: linear-gradient(to right, #00E260, #f79d00, #0575E6, #64f38c);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; 
        background-size: 300%; 
        background-position: -100%;
        font-family: Cambria;
        animation: animatedText 5s  infinite alternate-reverse;  

    }
    .text4 {
        position: absolute;
        top: 475vh;
        left: 60vw;
        right: 20;
        font-size: 5rem;
        text-transform: uppercase;
        background-image: linear-gradient(to right, #00E260, #f79d00, #0575E6, #64f38c);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; 
        background-size: 300%; 
        background-position: -100%;
        font-family: Cambria;
        animation: animatedText 5s  infinite alternate-reverse;  

    }
    .text5 {
        position: absolute;
        top: 540vh;
        left: 0;
        right: 5vw;
        font-size: 7rem;
        text-transform: uppercase;
        background-image: linear-gradient(to right, #00E260, #f79d00, #0575E6, #64f38c);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; 
        background-size: 300%; 
        background-position: -100%;
        font-family: Cambria;
        animation: animatedText 5s  infinite alternate-reverse;  

    
    
    }

    .text6 {
        position: absolute;
        top: 570vh;
        left: 0;
        right: 0;
        font-size: 12rem;
        text-transform: uppercase;
        background-image: linear-gradient(to right, #00E260, #f79d00, #0575E6, #64f38c);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; 
        background-size: 300%; 
        background-position: -100%;
        font-family: Cambria;
        z-index: 2;
        animation: animatedText 5s  infinite alternate-reverse;  

    
    
    }
}
 /*All above section is for any full sized monitor above 1000px*/
 
 
    