*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    color: #fff;
}
body {
    
    background-color: #000;
    padding: 25px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font: normal bold 3rem / 1.2
    "Poppins", "Helvetica", sans-serif;
    text-align: center;
     
}
 
.wrapper {
    width: 300px;
    margin: auto;
}
 
.cover {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 50vh;
    width: 100vw;
    border-radius: 5%;
 }
.header-text {
    position: absolute;
    top: 42vh;
    left: 25%;
    right: 5%;
    color:white;
    z-index: 1;
    font-size: 25px;
    
}
#menuBtnOne {
    height: 30px;
    width: 40px;
    position: fixed;
    top: 0;
    left: 328px; 
    right: 0;
    bottom: 0;
    font-size: 13px;
     
    background: purple;
    margin: 4px 0;
    z-index: 1;
    font-style: "Poppins", "Helvetica", sans-serif;
    cursor: pointer;

}
#menuBtnTwo {
    height: 30px;
    width: 40px;
    position: absolute;
    top: -1.8vh;
    left: 70%;
    font-size: 13px;
    display: inline block;
    background: purple;
    margin: 15px 0;
    z-index: 2;
    font-style: "Poppins", "Helvetica", sans-serif;
    cursor: pointer;
}
.container {
    margin-right: 100px;
    margin-left: 100px;

}
.text {
    position: absolute;
    top: 60%;
    left: 0%;
    right: 10%;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #00E260, #f79d00, #0575E6, #64f38c);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    background-size: 300%; 
    background-position: -100%;

    animation: animatedText 5s  infinite alternate-reverse; 
}

@keyframes animatedText {
    100% {
        background-position: 100%;
    }
}

#sideNavBar {
    font-size: 22px;
    width: 140px;
    height: 100vh;
    position: fixed;
    left: 100.5vw;
    right: 0;
    top: 0;
    background: #f67c92;
    z-index: 2;
    cursor: pointer;
  
}
.slide {
    transform: translateX(100%);
    transition: 4s;
}
.slides {
    transform: translateX(-38vw);
    transition: 1s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;

}


/*----about----*/

#about {
    position: absolute;
    top: 100vh;
    right: 0%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

.about-left-col {
    flex-basis: 100%;
}

.about-left-col img {
    width: 100%;
    border-radius: 5%;

     
}

.about-right-col {
  flex-basis: 100%;  
}


/*All above is sized for 375 x 667 iphone 7 screen size*/

@media only screen and (min-width: 768px) {
    .wrapper {
        width: 768px;
        
    }
    .cover {
        height: 45vh;
        width: 74vw;
         
     }
    .header-text {
        left: 0%;
        right: 10%;
        
    }
    .text {
         
        top: 46%;
        left: -27%;
        right: 0%;
        font-size: 2.8rem;
        font: normal bold 6.6rem / 1.2
        "Poppins", "Helvetica", sans-serif;
        font-family: cursive;
        text-align: center;
         
    }
    #menuBtnOne {
        height: 35px;
        width: 60px;
        right: 90vw;
        left: 65%;
        font-size: 20px;
         
    
    }
    #menuBtnTwo {
        height: 35px;
        width: 60px;
        left: 136px;
        font-size: 20px;
        
    }
    #sideNavBar {
        font-size: 30px;
        width: 200px;
        left: 85vw;
        z-index: 2;
        
    }
}
 /*All in above section is sized for ipad mini*/
 
 
             
     
 
 @media only screen and (min-width: 1000px) {

    .wrapper {
        width: 1000px;
        
    }
    .cover {
        height: 60vh;
        width: 100vw;
        
    }
     .header-text {
        top: 54vh;
        left: 12%;
        right: 0%;
        font-size: 50px;
        
    }
    .text {
        top: 60%;
        left: 15%;
        font: normal bold 6.6rem / 1.2
        "Poppins", "Helvetica", sans-serif;
        font-family: cursive;
        text-align: center;
    
    }
    #menuBtnOne {
        height: 40px;
        width: 60px;
        left: 96vw;
        font-size: 20px;
         
    }

    #menuBtnTwo {
        height: 40px;
        width: 60px;
        left: 180px;
        font-size: 20px;
        top: -1.2vh;
    }
    #sideNavBar {
        font-size: 40px;
        width: 250px;
        position: fixed;
        left: 123vw;
        
    }
    #about {
        position: absolute;
        top: 100vh;
        left: 40vw;
        right: 0;
        padding: 100px 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
    }
    
 }
 /*All above section is for any full sized monitor above 1000px*/
 
 
    